
<!-- <div class="card"> -->
  <p-toolbar styleClass="mb-6">
    <ng-template pTemplate="start">
      <p-button label="Registrar Movimiento" icon="pi pi-plus" class="p-button-success mr-2" class="mr-2"  (click)="openRegisterMovimientoModal()"></p-button>
      
    </ng-template>
    <ng-template pTemplate="end">
    <p-button #btnMovFiltros
                label="Filtros" icon="pi pi-filter"
                severity="secondary"
                (click)="toggleFilterPopover($event, btnMovFiltros.el.nativeElement)"></p-button>

    </ng-template>
  </p-toolbar>

  <p-table
    #dtMovimientos
    [value]="store.movimientos()"
    [tableStyle]="{ 'min-width': '90rem' }"
    [paginator]="true"
    [rows]="store.perPage()"
    [totalRecords]="store.totalItems()"
    (onPage)="onPageChange($event)"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} movimientos"
    [globalFilterFields]="['id', 'motivo', 'tipo', 'item_asociado.nombre', 'sucursal.nombre', 'usuario.name', 'cantidad', 'descripcion']"
    [lazy]="true"
    [sortOrder]="-1" styleClass="p-datatable-customers p-datatable-gridlines">

    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <p class="font-bold font-mono text-2xl py-1" >MOVIMIENTOS</p>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%; min-width: 4rem;" pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="tipo" style="min-width:8rem">Tipo Item <p-sortIcon field="tipo"></p-sortIcon></th>
        <th pSortableColumn="item_asociado.nombre" style="min-width:8rem">Item <p-sortIcon field="item_asociado.nombre"></p-sortIcon></th>
        <th pSortableColumn="motivo" style="min-width:8rem">Motivo <p-sortIcon field="motivo"></p-sortIcon></th>
        <th pSortableColumn="cantidad" style="min-width:8rem; text-align: right;">Cantidad <p-sortIcon field="cantidad"></p-sortIcon></th>
        <th pSortableColumn="precio_unitario" style="min-width:10rem; text-align: right;">Precio Unit. <p-sortIcon field="precio_unitario"></p-sortIcon></th>
        <th pSortableColumn="total" style="min-width:8rem; text-align: right;">Total <p-sortIcon field="total"></p-sortIcon></th>
        <th pSortableColumn="created_at" style="min-width:12rem">Fecha <p-sortIcon field="created_at"></p-sortIcon></th>
        <th pSortableColumn="sucursal.nombre" style="min-width:10rem">Sucursal <p-sortIcon field="sucursal.nombre"></p-sortIcon></th>
        <th pSortableColumn="usuario.nombre" style="min-width:10rem">Usuario Reg. <p-sortIcon field="usuario.nombre"></p-sortIcon></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-movimiento>
      <tr>
        <td>{{ movimiento.id }}</td>
        <td>{{ movimiento.tipo | titlecase }}</td>
        <td>{{ getItemNameForDisplay(movimiento) }}</td>
        <td>
          <p-tag [value]="movimiento.motivo | titlecase" [severity]="getSeverityForMotivo(movimiento.motivo)"></p-tag>
        </td>
        <td style="text-align: center;">{{ movimiento.cantidad | number:'1.0-0' }}</td>
        <td style="text-align: center;">{{ (movimiento.tipo === 'Producto' && movimiento.precio_unitario !== null) ? (movimiento.precio_unitario | currency:'S/':'symbol':'1.2-2') : 'N/A' }}</td>
        <td style="text-align: right;">{{ (movimiento.tipo === 'Producto' && movimiento.total !== null) ? (movimiento.total | currency:'S/':'symbol':'1.2-2') : 'N/A' }}</td>
        <td>{{ movimiento.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ movimiento.sucursal?.nombre || 'N/A' }}</td>
        <td>{{ movimiento.usuario?.nombre || 'N/A' }}</td>
        <!-- <td [pTooltip]="movimiento.descripcion || ''" tooltipPosition="top">{{ movimiento.descripcion | slice:0:30 }}{{ (movimiento.descripcion?.length || 0) > 30 ? '...' : '' }}</td> -->
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="11" class="text-center">No se encontraron movimientos de inventario.</td> </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
        <tr>
            <td colspan="11" class="text-center">Cargando movimientos...</td> </tr>
    </ng-template>
  </p-table>
<!-- </div> -->
<app-create />
<app-filtro />
<p-toast></p-toast>