<p-dialog 
  [(visible)]="visible" 
  header="Nuevo Sucursal" 
  [modal]="true"
  [style]="{ width: '450px' }"
  (onHide)="onHide()"
>    <!-- <ng-template #content> -->
    <form [formGroup]="sucursalForm" (ngSubmit)="onSubmit()">
        <!-- <ng-template pTemplate="content"> -->
            <div class="flex flex-col gap-3">
                
                <div>
                    <label for="name" class="block font-bold mb-3">Nombre<span class="text-red-500"> *</span></label>
                    <input type="text" pInputText id="nombre"  formControlName="nombre" autofocus fluid />
                    <!-- <small class="text-red-500">Nombre es requerido.</small> -->
                </div>
                <div>
                    <label for="name" class="block font-bold mb-3">Direccion</label>
                    <textarea id="direccion" pInputTextarea formControlName="direccion" rows="3" class="w-full border rounded-md focus:outline-none focus:border-[#10b981] py-2 px-3"></textarea>
                    <!-- <small class="text-red-500">Direccion requerido.</small> -->
                </div>
                
            </div>
        <!-- </ng-template> -->
        <!-- <ng-template pTemplate="footer"> -->
            <div class="mt-4 flex justify-end gap-2">
            <p-button label="Cancelar" icon="pi pi-times" text (click)="onHide()" />
            <p-button label="Guardar" icon="pi pi-check" type="submit"/>
            </div>
        <!-- </ng-template> -->
    </form>
</p-dialog>
    
